
.card-outer{
    margin: 1.3rem 1rem;
 border: 1px solid transparent;
 height: 22rem;
 width: 18rem;
 display: flex;
 padding: 1rem;
 flex-direction: column;
 flex-wrap: nowrap;
 /* align-items: center; */
 justify-content: space-evenly;
 transition: 1s;

}

.card-outer:hover{
 border: 1px solid rgb(163, 162, 162);
 box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(41, 41, 41, 0.3) 0px 3px 7px -3px;

}


.view-btn{
    visibility: hidden;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    font-size:1.1rem;
    color: rgb(10, 125, 201);
    outline: none;
    border: none;
    background-color: transparent;
}
.show-view-btn{
    visibility: inherit;
}
.image-box{
    /* border: 1px solid red; */
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}
.images{
    height: 160px;
    width: 280px;
}

.detail-box{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: space-evenly;

}

.view-btn{
    /* border: 1px solid red; */

}
.name{
        /* border: 1px solid rgb(17, 15, 15); */
font-size: 1rem;
font-weight: bold;
color: gray;
padding: 0.2rem;
text-transform: capitalize;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
/* text-align: jce; */
text-transform: capitalize;
}
.cusine{
    font-size:0.9rem;
    color: rgb(92, 92, 92);
    padding: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* text-align: justify; */
text-transform: capitalize;


}
/* sub-detail-box */
.sub-detail-box{
    /* border: 1px solid rgb(22, 14, 14); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: space-around;

}

.MRP-box{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.1rem;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(168, 164, 164) ;

}
.rating-Four{
    font-size:0.9rem;
    /* font-weight: ; */
    color: rgb(252, 245, 245);
    padding: 0.2rem 0.3rem;
    background-color: green;
}
.rating-Three{
    font-size:0.9rem;
    /* font-weight: ; */
    color: rgb(252, 245, 245);
    padding: 0.2rem 0.3rem;
    background-color: rgb(250, 153, 9);
}
.rating-Two{
    font-size:0.9rem;
    /* font-weight: ; */
    color: rgb(252, 245, 245);
    padding: 0.2rem 0.3rem;
    background-color: rgb(245, 242, 72);
}

.delivery-time{
    font-size:0.9rem;
    /* font-weight: ; */
    color: rgb(126, 126, 126);
    padding: 0.5rem;
}

.pay-amount{
    font-size:0.9rem;
    /* font-weight: ; */
    color: rgb(150, 149, 149);
    padding: 0.5rem;
}
.offer-box{
    text-align: center;
    font-size:1.1rem;
    /* border: 1px solid red; */
    color: rgb(131, 44, 44);
    padding: 0.5rem;
}
.fa-solid{
    font-size: 1rem;
}
